/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Use Fjalla One font for the whole page */
body {
    font-family: 'Fjalla One', sans-serif; /* Apply Fjalla One font */
    background-color: #f0f8ff; /* light blue background */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center; /* Center the text */
}

.title {
    font-size: 4em;
    color: #2596be; /* Bright blue */
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
    color: #4682b4; /* Slightly darker blue */
}
